{% extends 'base.html' %}

{% block title %} {{ news_item.title }} :: {{ block.super }} {% endblock %}


{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ news_item.category.get_absolute_url }}">{{ news_item.category }}</a>
    </div>
    <div class="card-body">
        <table width="100%" cellspacing="0" cellpadding="15">
            <tr>

                {% if item.photo %}
                <td class="leftcol">
                    <img src="{{ news_item.photo.url }}" alt="" width="330">
                </td>
                {% else%}
                <td class="leftcol">
                    <img src="https://picsum.photos/seed/picsum/330/330" alt="">
                </td>
                {% endif %}
                <td valign="top" ml-3>
                    <h5 class="card-title mt-3">{{ news_item.title }}</h5>
                    <p class="card-text">{{ news_item.content|linebreaks }}</p>
                </td>
            </tr>
        </table>

    </div>
    <div class="card-footer text-muted">
        {{ news_item.created_at|date:"d-M-Y H:i" }}
    </div>
</div>
{% endblock %}